[submodule "src/rm_vision/rm_vision_bringup/config"]
	path = src/rm_vision/rm_vision_bringup/config
	url = https://github.com/QDU-VRobot/config.git
	branch = main
	ignore = all
[submodule "src/rm_vision/rm_vision_bringup/test_assets"]
	path = src/rm_vision/rm_vision_bringup/test_assets
	url = https://github.com/QDU-VRobot/test_assets.git
